<div class="grid grid-cols-[16rem_1fr] min-h-screen">
  <aside class="bg-[#DEE9F6] px-4">
    <!-- Nav bar -->
    {{>nav}}
  </aside>
  <main class="bg-white px-4">
    <!-- All the shit to the right of the nav bar -->
    <h1>Pal Content</h1>
  </main>
</div>