<div class="flex min-h-screen">
  <aside class="bg-blue-100 px-4">
    <!-- Nav bar -->
    {{>nav}}
  </aside>
  <main class="flex-1 bg-gray-100 px-4 flex items-center justify-center">
    <div class="w-full max-w-7xl">
      <div class="fixed top-15">
        <h1 class="text-4xl font-bold">
          Settings
        </h1>
        <div id="sub-nav-bar" class="py-8 rounded-xl">
          <nav class="flex gap-10">
              <a href="/settings/account" class="sub-nav-button px-10 py-4 bg-white hover:bg-gray-300 text-black rounded-xl text-lg font-semibold">Account</a>
              <a href="/settings/profile" class="sub-nav-button px-10 py-4 bg-white text-black hover:bg-gray-300 rounded-xl text-lg font-semibold">Profile</a>
              <a href="/settings/pal-settings" class="sub-nav-button px-10 py-4 bg-white text-black hover:bg-gray-300 rounded-xl text-lg font-semibold">Pal Settings</a>
          </nav>
        </div>
      </div>

      <div class="rounded-xl border p-5 mt-40 bg-white">
        {{#if (eq activeTab "account")}} {{> account}} {{/if}}
        {{#if (eq activeTab "profile")}} {{> profile}} {{/if}}
        {{#if (eq activeTab "pal-settings")}} {{> pal-settings}} {{/if}}
      </div>
    </div>
  </main>
</div>
