<h2 class="text-xl font-semibold mb-4 mt-4 ml-10">Personal Information</h2>
<form>
    <div class="grid grid-cols-2 gap-10 p-10">
        <div>
            <input type="text" placeholder="Name" class="w-full border rounded-xl p-4"/>
        </div>
        <div>
            <input type="email" placeholder="Email" class="w-full border rounded-xl p-4"/>
        </div>
        <div>
            <input type="number" placeholder="Age" class="w-full border rounded-xl p-4"/>
        </div>
        <div>
            <input type="text" placeholder="Country" class="w-full border rounded-xl p-4"/>
        </div>
    </div>

    <div class="mt-6 mb-6 ml-10">
        <button type="submit" class="px-6 py-4 bg-green-400 text-black font-semibold rounded-xl hover:bg-green-500">
            Save Changes
        </button>
    </div>
</form>