    <div class="mt-6 bg-green-100 p-4 my-4 rounded-lg items-center hidden">
      <div class="rounded-full bg-green-300 p-2 mr-4">
        <svg  xmlns="http://www.w3.org/2000/svg"  class="text-white" width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-star"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
      </div>
      <div class="">
        <p>New achievement: First workout</p>
        <p>Awesome job! You logged your first workout! +100 XP</p>
      </div>
    </div>
