<div class="space-y-3">
  {{#if achievements.length}}
    {{#each achievements}}
      <div class="flex items-center p-2 hover:bg-gray-50 rounded">
        <div class="w-8 h-8 rounded-full bg-green-100 flex items-center justify-center mr-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-green-500" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
          </svg>
        </div>
        <div>
          <p class="font-medium">{{name}}</p>
          <p class="text-sm text-gray-500">{{description}}</p>
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="text-center py-4 text-gray-500">
      <p>No achievements earned yet!</p>
    </div>
  {{/if}}
</div>