<button
    class="px-6 py-4 bg-green-400 text-black font-semibold rounded-xl hover:bg-green-500"
    id="add-friend-button"
    type = "get">
    <p>Add Friend</p>
</button>

<div class="z-50 fixed inset-0 items-center justify-center bg-black/50 hidden" id="friend-modal">
    <div class="bg-white rounded-lg shadow-lg p-6 w-1/2 max-w-128 mx-auto mt-20">
        <div class="flex justify-between mb-4">
            <h2 class="text-2xl font-bold mb-4">Add Friends</h2>
        </div>

        <button type="button" id="cancel-button"
            class="bg-gray-300 text-black px-4 py-2 rounded mt-2">Cancel</button>
    </div>
</div>