<div id = 'nav-bar' class="flex flex-col min-h-screen overflow-y-auto">
    <h1 class="text-5xl font-bold text-center mt-14">GoPal</h1>
        
    {{!-- ? TODO: Refactor nav links into partials --}}
    <!-- Main Nav Buttons -->
    <nav class="flex flex-col gap-3 my-auto">
        <a href="/home" class="sidebar-nav-button py-6 rounded-xl flex items-center justify-center transition-colors duration-200 bg-white hover:bg-gray-300 text-xl font-medium">Home</a>
        <a href="/activity" class="sidebar-nav-button py-6 rounded-xl flex items-center justify-center transition-colors duration-200 bg-white hover:bg-gray-300 text-xl font-medium">Activity</a>
        <a href="/social" class="sidebar-nav-button py-6 rounded-xl flex items-center justify-center transition-colors duration-200 bg-white hover:bg-gray-300 text-xl font-medium">Social</a>
        <a href="/pal" class="sidebar-nav-button py-6 rounded-xl flex items-center justify-center transition-colors duration-200 bg-white hover:bg-gray-300 text-xl font-medium">Pal</a>
        <a href="/settings" class="sidebar-nav-button py-6 rounded-xl flex items-center justify-center transition-colors duration-200 bg-white hover:bg-gray-300 text-xl font-medium">Settings</a>
    </nav>
        
    {{!-- TODO: Refactor into partial --}}
    <!-- User Profile Section -->
    <div class="mt-auto mb-3 mx-auto bg-white p-4 rounded-xl shadow flex flex-col">
        <div class = "flex flex-row">
            <div class="w-10 h-10 bg-green-300 rounded-full mr-4"></div>
                <div class="flex flex-col mb-1">
                    <p class="font-semibold">{{#if user.display_name}}{{user.display_name}}{{else}}{{user.username}}{{/if}}</p>
                    <p class="text-sm text-gray-500">Level 5</p>
            </div>
        </div>
        <a href="/settings/profile" class="mt-2 bg-blue-200 hover:bg-blue-300 text-black px-10 py-2 rounded-xl text-sm text-center justify-center">View Profile</a>
    </div>
    
    {{>add-activity-modal}}
</div>
