<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoPal</title>
    <link href="/extra_resources/css/style.css" rel="stylesheet"></head>
<body>
    {{{body}}}
    <script type="module" src="/js/app.js" defer></script>
  </body>
</html>
